{
	"useTabs": false,
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 80,
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"bracketSameLine": false,
	"proseWrap": "preserve"
}
